@import "tailwindcss";

:root {
  --accent: #ed688d;
  --background: #faf7eb;
  --background-dark: #1d1610;
  --border: #1b140f;
  --border-cream: #faf7ea;
  --text: #1d1610;
  --text-secondary: #fdfcf4;
}

@theme inline {
  /* COLORES */
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-border-cream: var(--border-cream);
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);

  /* FUENTE */
  --font-titles: var(--font-crimson-text);
  --font-texts: var(--font-catamaran);
}
